<footer>
    <div class="footer-content">
        <p>&copy; {{getCurrentYear}} Alex Pablo. Todos los derechos reservados</p>
        <div class="social-links">
            <a href="https://github.com/Alex-Pablo" target="_blank">GitHub</a>
            {{! <a href="" target="_blank">LinkedIn</a> }}
        </div>
    </div>
</footer>
